<div style="padding: 10px;" class="flt-lt">
    <h3>Admin has rights to - </h3>
    <ul>
        <li><b>Send Emails</b></li>
        <ul>
            <li>To current event users</li>
            <li>To all application users</li>
        </ul>
        <li><b>Manage Events</b></li>
        <ul>
            <li>Create new event</li>
            <li>Edit existing events</li>
            <li>Delete existing events</li>
            <li>Set current event</li>
            <li>Manage existing event users</li>
            <ul>
                <li>Delete users</li>
            </ul>
        </ul>
    </ul>
</div>
<div class="flt-rt">
  <%= image_tag "Admin.gif" %>
</div>